/* Embedded content
   ========================================================================== */
@mixin font {
    font: {
        family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        size: 1em;
    }
}
