/*!
 * Copyright (c) 2019 Feng.YJ
 * LICENSE: MIT
 */
@use 'mixins' as mix;
@use 'variables' as var;

.main {
    height: 100%;
    width: 40%;
    margin: 200px auto;
    text-align: center;
    color: rgb(106, 173, 250);
    @include mix.font;

    &:hover {
        background-color: rgb(106, 173, 250);
        color: aliceblue;
        box-shadow: 0 0 1em 0 rgb(106, 173, 250);
    }
}

.colors {
    width: 100%;
    margin: 16px auto;

    .normal-color {
        height: 50px;
        background-image: var.$gradualGreen;
    }
}
